@model IEnumerable<capstone.Models.MentorClassesViewModel>

@{
    ViewData["Title"] = "Mentor Classes";
}



<div class="mentorHeader">
    <p>
        </br>
        <font color="blue" size="3"><b>Welcome @ViewBag.mentorName!  Here is your current class list:</b></font>
    </p>    
</div>


<table class="table">
    <thead>
        <tr>
                <th>
                    Category
                </th>
                <th>
                    Class Name
                </th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
}
		<tr>
			<td>Mathematics</td>
			<td>precalculus</td>
		</tr>
    </tbody>


</table>

    <p><b>Latest Notifications</b></p>

    <p><font color="blue" size="3">There is a student that would like to learn precalculus.  Are you available to teach it?</font></p>
    <button type="button" class="btn btn-primary">Respond To Request</button>
<!--    @foreach(var str in ViewBag.Notifications)
    {
      <div class="notification">  
	      <p>
	      @Html.Raw(str)
		  </p>
	      <p>
	        <button type="button" class="btn btn-primary">Respond To Request</button>
		  </p>
	  </div>  

    }
-->
